@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body {
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
}

.sp {
    padding-top: 6px;
    padding-bottom: 17px;
}

.img_responsive {
    max-height: 100px; 
}

.brand {
    height: 28px;
}

.btn {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    background: none;
    padding: 8px 20px;
}

.btn:hover {
    color: #cd2027;
    background-color: #f6ead7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a.active {
    color: #cd2027;
    background-color: #f6ead7;
    box-Shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ad-btn {
    color: #185688;
    font-family: 'Open Sans', sans-serif;
    background: none;
    font-weight: bold;
}